[Unit]
Description=Daily File Integrity Check Timer
Documentation=man:aide(1)

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=600
Persistent=true
Unit=integrity-check.service

[Install]
WantedBy=timers.target
